/* About Page */

.about-container {
    display: flex;
    align-items: center; /* Vertically center the image and text */
    margin-top: 2rem;
    margin-bottom: .5rem;
  }

.info h1 {
    margin: 0;
    padding: 0;
}

.info h2 {
    margin-top: -.5rem;
    margin-bottom: 1rem;
}

.info p {
    margin-top: -20px !important;
}
  
.headshot {
    border-radius: 50%;
    margin-right: 4rem;
    width: 250px;
    height: 250px; 
}

.list {
    line-height: 1.5;
}

.kitties {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-bottom: hsl(270, 49%, 60%) 1rem solid;
  }

  .cat-pic {
    margin-top: -1.5rem;
}

.achievements .subheader {
    margin-bottom: -1rem;
 }

  /* Responsive Design */

  @media (min-width: 1500px) {

  }
  
  @media (max-width: 834px) {

    .about-container {
        flex-direction: column;
        align-items: center; /* Center items horizontally */
        text-align: center; /* Center text */
        margin-bottom: -1rem;
    }

    .headshot {
        margin-right: 0; /* Remove right margin */
        margin-bottom: 1rem; /* Add bottom margin for spacing */
    }

    .skills-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: .2em;
        padding: .2em;
    }

    .skill-icon {
        width: 5rem;
        height: 5rem;
    }

  }
  
  @media (max-width: 480px) {

    .skills-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(45px, 1fr));
        gap: .1em;
        padding: .1em;
    }

    .skill-icon {
        width: 2.5rem;
        height: 2.5rem;
    }

    .about-name {
        font-size: 2rem;
    }

    .about-title {
        font-size: 1.5rem;
    }

    .bio {
        font-size: .8rem;
    }

    .header {
        font-size: 1rem;
    }

    .subheader {
        font-size: .9rem;
    }

    .column-two {
        margin-top: -2rem;
    }
  }