/* Diagnostic Styling */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}
  
main {
    width: 800px;
    max-width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}

/*Typography*/

body {
    font-family: 'Montserrat', sans-serif;
    font-size: .85rem !important;
}

p {
    font-size: .85rem !important;
    margin-top: -.5rem;
}

h1 {
    font-size: 3rem;
    font-weight: 900;
    color: #9966CB;
}

h2 {
    font-size: 1.82rem;
    font-weight: 700;
    color: #98CB66;
}

h3 {
    font-size: 1.5rem;
    font-weight: 700;
    font-style: italic;
    color: #9966CB;
  }

h4 {
    font-size: 1rem;
    font-weight: 700;
    margin-top: -.5rem;
}

h5 {
    font-size: .75rem;
    font-weight: 500;
    margin-top: -1rem;
}

h6 {
    font-size: .75rem;
    font-weight: 500;
    margin-top: -1rem;
}

ul {
    margin-top: -.5rem;
}

/* Main Navigation */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-weight: 700;
}

nav a {
    text-decoration: none;
    color: #9966CB;
    font-size: 1.5rem;
}

nav a.active {
    color: #98CB66;
    font-size: 2.5rem;
    font-weight: 800;
}

nav a:not(.active):hover {
    color: #98CB66;
    font-size: 1.75rem;
    font-weight: 800;
}


/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1em 1em;
}

.text-container {
    display: flex;
    flex-direction: column;
    height: 3rem;
    margin: 0;
}

.full-name {
    font-size: 1.37rem !important;
    font-weight: 800;
    margin: 0;
    color: #9966CB;
    margin-top: -.25rem;
}

.title {
    font-size: .82rem !important;
    font-weight: 700;
    margin: 0;
    color: #98CB66;
}

.icon {
    width: 3rem;
    height: 3rem;
    margin: 0 0.5rem;
}

/*FOLLOW CURSOR*/

#image-container {
    position: relative;
    width: 600px;
    margin: 0 auto;
    padding-top: 7rem;
}

#cat-face {
    width: 100%; /* Maintains full width */
    height: auto; /* Scales height proportionally */
}

#left-eye, #right-eye {
    position: absolute;
    width: 600px;
    height: auto;
    z-index: 2;
    padding-top: 7rem;
}

#left-eye {
    top: 0px;
    left: 0px;
}

#right-eye {
    top: 0px;
    right: 0px;
}

/* Global Styling */

.columns {
    display: flex; 
    align-items: stretch;
    gap: 1rem;
}

.column-one {
    flex: 1; 
    padding-right: 10px;
}

.column-two {
    flex: 1; 
    padding-left: 10px;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45px, 1fr));
    gap: .25em;
    padding: .25em;
}

.skill-icon {
    width: 3rem;
    height: 3rem;
}


  /* Responsive Design */

  @media (min-width: 1500px) {

    #image-container {
        position: relative;
        width: 700px;
        margin: 0 auto;
        padding-top: 10rem;
    }

    #left-eye, #right-eye {
        position: absolute;
        width: 700px;
        height: auto;
        z-index: 2;
        padding-top: 10rem;
    }

  }
  
  @media (max-width: 834px) {

    main {
        min-height: 90vh;
    }
       

    .text-container {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    
    .full-name {
        font-size: 1.37rem !important;
        font-weight: 800;
        margin: 0;
        color: #9966CB;
    }
    
    .title {
        font-size: .82rem !important;
        font-weight: 700;
        margin: 0;
        color: #98CB66;
    }

    .homepage footer {
        margin-top: -5rem;
    }

  }
  
  @media (max-width: 480px) {

    main {
        min-height: 85vh;
    }

    h1 {
        font-size: 2.25rem;
    }
    
    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1rem;
    }

    #image-container {
        position: relative;
        width: 300px;
        margin: 0 auto;
        padding-top: 3rem;
    }

    #left-eye, #right-eye {
        position: absolute;
        width: 300px;
        height: auto;
        z-index: 2;
        padding-top: 3rem;
    }
    
    .full-name {
        font-size: 1.01rem !important;
        font-weight: 900;
        padding-top: .5rem;
    }
    
    .title {
        font-size: .605rem !important;
        font-weight: 700;
    }

    .icon {
        width: 2.25rem;
        height: 2.25rem;
        margin: 0 0.5rem;
    }

    nav a.active {
        color: #98CB66 !important;
        font-size: 1.5rem !important;
        font-weight: 800 !important;
    }

    nav a  {
        font-size: 1rem;
    }

    .columns {
        flex-direction: column;
    }

    .column-one, .column-two {
        padding-right: 0; 
        padding-left: 0;
    }

  }
