/* Diagnostic Styling */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-image: url("/assets/IconBackground.svg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #FcFFFf;
}
  
main {
    width: 800px;
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ffffff;
    padding-left: 10rem;
    padding-right: 10rem;
}

.content {
    flex: 1;
    background-color: #ffffff;
}

/*Typography*/

body {
    font-family: 'Roboto', sans-serif;
    font-size: .85rem !important;
}

p {
    font-size: .85rem !important;
    margin-top: -.5rem;
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 3rem;
    font-weight: 900;
    color: #9966CB;
    text-align: center;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: #000;
}

h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 1.75rem;
    font-weight: 700;
    color: #9966CB;    
    text-transform: uppercase;
    position: relative;
    margin-bottom: 1rem;
}

h3::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000;
    position: absolute;
    bottom: -6px;
    left: 0;
}

h4 {
    font-size: 1rem;
    font-weight: 700;
    margin-top: -.5rem;
}

h5 {
    font-size: .75rem;
    font-weight: 500;
    margin-top: -1rem;
}

h6 {
    font-size: 1.1rem;
    font-weight: 300;
    margin-top: -1rem;
}

ul {
    margin-top: 0.5rem;
    padding-left: 1.5rem;
    font-size: 1rem;
    line-height: 1.6;
}

.project-summary {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    margin-top: 0.5rem;
}


/* Main Navigation */

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-family: 'roboto slab', serif;
    font-weight: 900;
}

nav a {
    text-decoration: none;
    color: #9966CB;
    font-size: 2rem;
    text-align: center;
}



/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1em 1em;
}

.logo {
    width: 8rem;
    margin: 0 0.5rem;
}

.icon {
    width: 3rem;
    height: 3rem;
    margin: 0 0.5rem;
}


/* Global Styling */

hr {
    border: 0;
    height: 5px;
    background: #9966CB;
    margin: 5rem auto 3rem auto;
    width: 120%;
    position: relative;
    left: -10%;
}

.hero {
        width: 100%;
        height: auto;
        margin-top: 5rem;
        margin-bottom: 5rem;
}


  /* Responsive Design */

  
  @media (max-width: 834px) {

    main {
        width: 500px;
        min-height: 90vh;
        padding-left: 5rem;
        padding-right: 5rem;
    }

  }
  
  @media (max-width: 480px) {

    main {
        width: 350px;
        min-height: 85vh;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    h1 {
        font-size: 2.5rem;
    }
    
    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.35rem;
    }


    .icon {
        width: 2.25rem;
        height: 2.25rem;
        margin: 0 0.5rem;
    }

    nav a  {
        font-size: 1rem;
    }

  }
