/* Diagnostic Styling */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-image: url("/assets/IconsBackground.svg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #070707;
}
  
main {
    max-width: 60%;
    margin: auto;
    padding: 2rem;
    background-color: #000;
    display: flex;
    flex-direction: column;
}


.content {
    flex: 1;
    background-color: #000;
}

/*Typography*/

body {
    font-family: 'Roboto', sans-serif;
    font-size: .85rem !important;
    color: #fff;
}

p {
    font-size: .85rem !important;
    margin-top: -.5rem;
    color: #fff;
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 3rem;
    font-weight: 900;
    color: #9966CB;
    text-align: center;
    padding-top: 1rem;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
    padding: 0rem 15rem;
}

h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 1.75rem;
    font-weight: 700;
    color: #9966CB;    
    text-transform: uppercase;
    position: relative;
    margin-bottom: 1rem;
}

h3::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: -6px;
    left: 0;
}

h4 {
    font-family: 'Roboto Slab', serif;
    font-size: 1rem;
    font-weight: 700;
    margin-top: -.5rem;
    color: #fff;
}

h5 {
    font-size: .75rem;
    font-weight: 500;
    margin-top: -1rem;
}

h6 {
    font-size: 1.05rem;
    font-weight: 300;
    margin-top: -1rem;
}

ul {
    margin-top: 0.5rem;
    padding-left: 1.5rem;
    font-size: 1rem;
    line-height: 1.6;
}


/* Main Navigation */

nav {
    font-family: "Amarante", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem auto 0rem auto;
    font-family: 'roboto slab', serif;
    font-weight: 900;
}

nav a {
    font-family: "Amarante", serif;
    text-decoration: none;
    color: #9966CB;
    font-size: 2rem;
    text-align: center;
}



/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1em 17em;
}

.logo {
    width: 8rem;
    margin: 0 0.5rem;
}

.icon {
    width: 4rem;
    height: 4rem;
    margin: 0 0.5rem;
}


/* Global Styling */

hr {
    border: 0;
    height: 5px;
    background: #9966cb;
    width: clamp(90%, 95%, 100%);
    margin: 3rem auto;
    position: relative;
    left: 0;
    border-radius: 10px;
}

.video-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
  }

#heroVideo {
    width: 100%;
    max-width: 1000px;
    display: block;
    cursor: pointer;
  }

  .speaker-icon {
    position: absolute;
    bottom: 7%;
    right: 30%;
    background: rgba(0, 0, 0, 0.7);
    border: none;
    cursor: pointer;
    font-size: clamp(18px, 2vw, 24px);
    padding: 3px 5px;
    border-radius: 10%;
    transition: background 0.3s ease;
}

.speaker-icon:hover {
    background: #9966cbb3;
  }

.what-i-do {
    text-align: center;
    margin-top: 3rem;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    max-width: 800px;
    margin: 0 auto;
    justify-content: center;
    padding-bottom: 2rem;
}

.skill-item {
    position: relative;
    text-align: center;
    width: 225px;
    height: 225px;
    background: #9966cb;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill-icon {
    width: 150px;
    height: auto;
    transition: opacity 0.3s ease-in-out;
}

.skill-description b {
    font-family: 'Roboto Slab', serif;
    font-size: 1.25rem;
    display: block;
    margin-bottom: 10px;
    line-height: 1;
}

.skill-description {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    color: #000;
    opacity: 0;
    text-align: center;
    transition: opacity 0.3s ease-in-out;
}

.skill-item:hover .skill-icon {
    opacity: 0;
}

.skill-item:hover .skill-description {
    opacity: 1;
}

.about-me {
    margin-top: -2rem;
    padding-left: 7rem;
    margin-right: -4rem;
    display: flex;
    align-items: center;
}

.about-me-text {
    margin-top: -3rem;
    flex: 4;
}

.about-me-image {
    margin-top: 2rem;
    flex: 3;
    text-align: left;
}

.about-me-image img {
    max-width: 75%;
    height: auto;
}


  /* Responsive Design */

  @media (max-width: 1440px) {

    hr {
        width: 90%; 
        margin: 2.5rem auto;
    }

    .skills-grid {
        grid-template-columns: repeat(2, 1fr);
        max-width: 400px;
    }

    .about-me {
        padding: 0;
        flex-direction: column;
        margin: 0;
    }

    .about-me-text, .about-me-image {
        flex: none;
        width: 90%;
    }

    .about-me-image {
        margin-top: 0;
        max-width: 60%;
        text-align: center;
    }

    footer {
        padding: 1em 5em;
    }
}

  
  @media (max-width: 834px) {

    main {
        max-width: 80%;
    }

    hr {
        width: 90%; 
        height: 2px;
        margin: 2rem auto;
    }

    footer {
        padding: 1em 3em;
    }

    .about-me-text, .about-me-image {
        flex: none;
        width: 100%;
    }

    .about-me-image {
        margin-top: 0;
        max-width: 100%;
        text-align: center;
    }
}

@media (max-width: 480px) {

    .skills-grid {
        grid-template-columns: 1;
    }

    h1 {
        font-size: 1.5rem;
    }

    html, body {
        background-image: none;
    }

    .hero {
        padding-top: 2rem;
        max-width: 100%;
    }

    main {
        max-width: 100%;
    }

    h6 {
        font-size: .8rem;
        padding-top: 1rem;
    }

    .icon {
        width: 2rem;
        height: 2rem;
        margin: 0 0.5rem;
    }

    nav a  {
        font-size: 1.5rem;
    }

    footer {
        padding: 1em .5em;
    }

  }
