/* WORK PAGE STYLES */

.teaser-image {
    width: 75%; /* Make the image take up 100% of its container's width */
    height: auto; /* Maintain the aspect ratio */
    display: block;
    margin: 0 auto; /* Center the image */
}

.project-title {
    font-size: 3rem;
    font-weight: 900;
    margin: 0;
    padding-bottom: 0.01rem;
    color: #9966CB;
}

.category {
    font-size: 1rem;
    font-weight: 700;
}

.link {
    font-size: 1rem;
    font-style: italic;
    margin-bottom: -1rem;
}

.head {
    font-size: 1.75rem;
    color: hsl(90, 49%, 60%);
    margin-bottom: -1rem;
    margin-top: 2rem;
}

.skills-container {
    margin-top: -2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: .5em;
    padding: .5em;
}

.skill-icon {
    width: 4rem;
    height: 4rem;
}

.images {
    text-decoration: none;
}

.project-info {
    display: flex; 
    align-items: stretch;
}

.column-one {
    flex: 1; 
    padding-right: 10px;
}

.column-two {
    flex: 1; 
    padding-left: 10px;
}