/* WORK PAGE STYLES */

.teaser-image {
    width: 75%; /* Make the image take up 100% of its container's width */
    height: auto; /* Maintain the aspect ratio */
    display: block;
    margin: 0 auto; /* Center the image */
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    gap: .5em;
    padding: .5em;
    margin-top: -1rem;
}

.skill-icon {
    width: 4rem;
    height: 4rem;
}

.project-button {
    font-size: 1rem;
    font-weight: 800;
    background-color: #98CB66;
    border: none;
    border-radius: .5rem;
    padding: .5rem 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.project-button:hover {
    background-color: #9966CB;
    color: #fff;
    cursor: pointer;
}

.carousel {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    display: none;
}

.carousel-item.active {
    opacity: 1;
    display: block;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}