/* WORK PAGE STYLES */

.teaser-image {
    width: 75%; /* Make the image take up 100% of its container's width */
    height: auto; /* Maintain the aspect ratio */
    display: block;
    margin: 0 auto; /* Center the image */
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    gap: .5em;
    padding: .5em;
    margin-top: -1rem;
}

.skill-icon {
    width: 4rem;
    height: 4rem;
}

.project-button {
    font-size: 1rem;
    font-weight: 800;
    background-color: #98CB66;
    border: none;
    border-radius: .5rem;
    padding: .5rem 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.project-button:hover {
    background-color: #9966CB;
    color: #fff;
    cursor: pointer;
}