---
import BaseLayout from '../layouts/BaseLayout.astro';
import Work from './work.astro';
const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle} class="homepage">
	
	<div class="container">
        <div class="video-container">
            <video id="heroVideo" src="/assets/hero-video.mp4" playsinline muted></video>
            <!-- Speaker Icon -->
            <button id="muteToggle" class="speaker-icon">🔇</button>
            <p>Click the power button</p>
        </div>
	<hr>
	<h1>STUFF I'VE DONE</h1>
	<Work />
	<hr>
	 <section class="about-me">
     <div class="about-me-text">
        <h1>STUFF ABOUT ME</h1>
        <h6>
            Hey there! I’m Sage – a Front End Developer who’s all about creating digital experiences that bring joy and spark curiosity. 
            Design isn’t just what I do; it’s a huge part of who I am. My mind is always racing with new ideas, whether it's a fresh illustration concept, 
            a way to improve a design, or solving a tricky coding challenge. I love transforming creative ideas into digital spaces that feel inviting, fun, and easy to use.
        <br><br>
            My background spans web design & development, UX/UI, animation, and game design. I’ve been lucky enough to work on some exciting projects, like leading the award-winning SFCC 2023 Graphic Design Grad Show website and designing a mobile-first site for Mahalo Promotions that took user engagement to the next level. Right now, I’m exploring mobile game development, mixing my technical skills with my love for crafting playful, interactive experiences.
        <br><br>
            At the heart of it, I create because I love sharing joy with others. I’m a Nintendo enthusiast, EDM festival fan, and cat parent, and these parts of my life inspire me every day to bring energy and imagination into my work. I'm always looking to push the boundaries of digital design and make ideas come to life in ways that connect with people.
        </h6>
    </div>
    <div class="about-me-image">
        <img src="/assets/sage-kitties-illustration.svg" alt="Sage and Kitties" class="sage-kitties">
    </div>
    </section>
	</div>
</BaseLayout>