---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle} class="homepage">

	<div id="image-container">
		<img src="/assets/cat-face.png" id="cat-face">
		<img src="/assets/cat-left-eye.png" id="left-eye">
		<img src="/assets/cat-right-eye.png" id="right-eye">
	</div>
	

</BaseLayout>