---
import BaseLayout from "../layouts/BaseLayout.astro";

// apply stylesheets
import '../styles/workStyles.css';

const pageTitle = "WORK";

const allProjects = await Astro.glob("../pages/projects/*.md");
---

<BaseLayout pageTitle={pageTitle}>
    {
        allProjects.map((post) => (
            <li>
                <a href={post.url}>{post.frontmatter.title}</a>
            </li>
        ))
    }
</BaseLayout>
