---

---

<footer>
    <div class="text-container">
        <p class="full-name">SAGE NORTON</p>
        <p class="title">FRONT-END DEVELOPER</p>
    </div>
        <a href="mailto:prplsage@outlook.com" target="_blank"><img src="/assets/icons/email.svg" alt="Email" class="icon"></a>
        <a href="https://www.linkedin.com/in/sage-norton/" target="_blank"><img src="/assets/icons/linkedin.svg" alt="LinkedIn" class="icon"></a>
        <a href="https://github.com/sagenorton" target="_blank"><img src="/assets/icons/github.svg" alt="Github" class="icon"></a>
</footer>
