<nav>
    <a href="/about">ABOUT</a>
    <a href="/">PRPL SAGE</a>
    <a href="https://www.figma.com/proto/csGbyiUGkNUe6GOjLqMRmw/Sage-Norton%3A-UX-Portfolio?node-id=2-69&t=LzgP3u6sJIU7YtjI-1&scaling=contain&content-scaling=fixed&page-id=1%3A2&starting-point-node-id=2%3A69" target="_blank">WORK</a>
</nav>