---
// import components
import Footer from '../components/Footer.astro';

// apply stylesheets
import '../styles/myStyles.css';

// variables
const siteName = "PRPL SAGE";

const { pageTitle } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon-star.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>{siteName} : {pageTitle}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Amarante&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
	</head>
	<body>
		
		<!-- wrapper -->
		<div class="content-wrapper">
		<main>


			<!-- Astro Slot component -->
			<div class="content">
        		<slot />
			</div>


			<!-- Footer component -->	
			<Footer />

		</main>
		</div>

		

		<!-- Client Side Scripts -->
		<script>

			import "../scripts/myScripts.js";

		</script>

	</body>
</html>
