---
import BaseLayout from '../layouts/BaseLayout.astro';

import PortfolioNav from '../components/PortfolioNav.astro';

const { frontmatter } = Astro.props;
---

<BaseLayout>
    <img src={frontmatter.teaserimage} alt={`Teaser image for ${frontmatter.title}`} />
    <h1>{frontmatter.title}</h1>
    <p>Project completed on: {frontmatter.date}</p>
    
    <slot />  <!-- This will render the markdown content -->

    <!-- Position the navigation bar at the bottom -->
    <PortfolioNav />

</BaseLayout>