---
import BaseLayout from "../layouts/BaseLayout.astro";

// apply stylesheets
import "../styles/workStyles.css";

const { frontmatter } = Astro.props;
---

<BaseLayout>
<br>
  <div class="carousel">
    <div class="carousel-inner">
            {(() => {
        const elements = [];
        for (let index = 0; index < frontmatter.hero.length; index++) {
          const image = frontmatter.hero[index];
          elements.push(
            <picture>
              <div class={`carousel-item ${index === 0 ? 'active' : ''}`}>
                <img src={`/assets/${image}`} alt={`Slide ${index + 1}`} />
              </div>
            </picture>
          );
        }
        return elements;
      })()}
      
    </div>
    <button class="carousel-control-prev" onclick="prevSlide()">&#10094;</button>
    <button class="carousel-control-next" onclick="nextSlide()">&#10095;</button>
  </div>

  <!-- Lightbox Structure -->
<div id="lightbox" class="lightbox" onclick="closeLightbox()">
  <span class="close-lightbox">&times;</span>
  <img class="lightbox-image" id="lightbox-img" />
  <button class="lightbox-control-prev" onclick="prevLightboxImage(event)">&#10094;</button>
  <button class="lightbox-control-next" onclick="nextLightboxImage(event)">&#10095;</button>
</div>


  <h1>{frontmatter.title}</h1>

<p>
  {typeof frontmatter.link === 'string' && frontmatter.link.startsWith('https://') ? (
    <p class="link-button">
      <a href={frontmatter.link} target="_blank" rel="noopener noreferrer">
        <button class="project-button">Visit Project</button>
      </a>
    </p>
  ) : (

    <i>{frontmatter.link}</i>
  )}
</p>

  
    

  <slot />
<br>
</BaseLayout>
