---
import BaseLayout from "../layouts/BaseLayout.astro";

// apply stylesheets
import "../styles/workStyles.css";

import Carousel from "../components/Carousel.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout>

  <div class="carousel">
    <div class="carousel-inner">
      {frontmatter.hero.map((image, index) => (
        <div class={`carousel-item ${index === 0 ? 'active' : ''}`}>
          <img src={image} alt={`Slide ${index + 1}`}/>
        </div>
      ))}
    </div>
    <button class="carousel-control-prev" onclick="prevSlide()">&#10094;</button>
    <button class="carousel-control-next" onclick="nextSlide()">&#10095;</button>
  </div>


    <h1>{frontmatter.title}</h1>
    <p><i>{frontmatter.link}</i></p>
    <p class="link-button">
      {typeof frontmatter.link === 'string' && frontmatter.link.startsWith('https://') && (
        <a href={frontmatter.link} target="_blank" rel="noopener noreferrer">
          <button class="project-button">Visit Project</button>
        </a>
      )}
    </p>
    

  <slot />
<br>
</BaseLayout>
